@charset "UTF-8";

/* General */
:root {
  --black-color: #000000;
  --gray-color: #0f0f12;
  --green-color: #98ca3f;
  --yellow-color: #fcee0a;
  --sky-blue-color: #2490fc;
  --white-color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Fredoka One", sans-serif;
}

/* Media player */
.media-player {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(23,148,230,1) 0%, rgba(203,232,0,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/** Title **/
.media-player .title {
  color: var(--white-color);
  margin: 1rem;
}
/** Author **/
.media-player .author {
  color: var(--white-color);
}
/** Cover **/
.media-player .cover {
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.75);
  margin: 1.25rem 0 1.75rem;
}
/** Desktop **/
@media screen and (min-width: 720px) {
  .media-player .cover {
    width: 420px;
  }
}
/** Tablet **/
@media screen and (min-width: 512px) and (max-width: 720px) {
  .media-player .cover {
    width: 400px;
  }
}
/** Mobile **/
@media screen and (min-width: 320px) and (max-width: 480px) {
  .media-player .cover {
    width: 280px;
  }
}
/** Others **/
@media screen and (max-width: 480px) {
  .media-player .cover {
    width: 75%;
  }
}
/** Track **/
.media-player .track {
  cursor: pointer;
  width: 75%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  position: relative;
}
.media-player .progress {
  width: 0%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}
/** Controls **/
.media-player .controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 1rem;
}
.media-player .controls div {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 0.5rem;
  transition: background-color 0.25s linear;
}
.media-player .controls div:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.media-player .controls div svg {
  width: 20px;
  color: var(--white-color);
}
.hide-button {
  display: none !important;
}